{#
/**
 * @file
 * Theme override for local actions (primary admin actions.)
 */
#}
<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <nav>
      <ul>
        {{ content }}
      </ul>
    </nav>
  {% endblock %}
</div>
