{#
/**
 * @file
 * Theme override for local actions (primary admin actions.)
 */
#}
{%
  set classes = [
    'multicol__nav',
    'b-menu',
    'b-menu--sidenav',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <nav class="c-nav c-nav--sidenav">
      <ul class="nav__menu sidenav-actions">
        {{ content }}
      </ul>
    </nav>
  {% endblock %}
</div>
